.header{
    padding: 10px;
    margin: 10px;
}

/*
.parte-2{
display: flex;
flex-direction: row;
}
*/

.lyrics-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    padding: 10px;
    margin: 50px 0px 10px 0px;
}

.formulario_pagina{
    padding: 10px;
    margin: 50px 10px 10px 10px;
}

.submit-button{
    padding: 10px;
    margin: 10px 10px 10px 0px;
}
